<section data-ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li><h4 class="nav-pills" ng-bind="contextData.title"></h4></li>
        <li data-ng-repeat="item in sidebarItems"
            data-ng-if="item.shouldRender(authentication.user);" ui-route="{{item.url}}" ng-class="{active: ($uiRoute)}">
            <a href="/#!{{item.url}}">
                <span ng-show="item.icon" class="glyphicon {{item.icon}}"></span> {{item.title}}
            </a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li data-ng-repeat="item in subSidebarItems"
            ng-click="onItemClicked(item)">
            <a>
                <span ng-show="item.icon" class="glyphicon {{item.icon}}"></span> {{item.title}}
            </a>
        </li>
    </ul>
</section>
